<%if (locals.loggedUser) { %>
<div class="wrap">
  <nav id="mobile-menu" class="mobile-nav-menu">
    <div class="menu-menu-1-container">
      <ul id="primary-menu" class="menu dropdown mobile-nav">
        <li class="menu-item-custom-custom current-menu-item current_page_item">
          <a href="/<%=loggedUser.link%>"
            ><span><i class="home-icon"></i>Home</span></a
          >
        </li>

        <li class="menu-item-custom-custom current-menu-item current_page_item">
          <a href="/logout?_method=DELETE"
            ><span><i class="home-icon"></i>log out</span></a
          >
        </li>
      </ul>
    </div>
  </nav>
</div>
<% } %>
