*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 62.5%;
  height: 100%;
  overflow: hidden;
}
@media (max-width: 768px) {
  html,
  body {
    font-size: 40%;
  }
}
:root {
  --form-label-font-size: 1rem;
  --profile-pic-width: 110px;
  --profile-pic-width-large: 225px;
  --profile-pic-aspect-ratio: 1;
}

.profile-pic {
  width: var(--profile-pic-width);
  height: calc(var(--profile-pic-width) / var(--profile-pic-aspect-ratio));
}
.profile-pic-holder {
  margin-left: 10%;
  width: 9;
  min-width: 9rem;
  border: white dotted 2px;
}

.pic-grid {
  overflow-y: auto;
  display: flex;
  justify-content: space-between;
  padding: 0rem 4.5rem 1rem 4.5rem;
  flex-wrap: wrap;
}
#lineBreak {
  margin: auto;
  margin-top: 70%;
  height: 12px;
  border: 0;
  box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, 0.5);
  width: 95%;
}
.picture_display {
  object-fit: cover;
  width: 8rem;
  max-height: 8rem;
  height: auto;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}
.picture_box {
  position: relative;
  margin-top: 3.5rem;
}

.pic-grid-large {
  grid-template-columns: repeat(auto-fill, var(--profile-pic-width-large));
}
.picLbl {
  position: absolute;
  color: white;
  bottom: -1.6rem;
  font-size: 0.8rem;
}

.filepond--root {
  margin-bottom: 0;
}
.filepond--root .filepond--credits {
  text-decoration: none;
  font-size: 1px;
}

.filepond--panel-root {
  background-color: var(--form-input-background-color);
  border: 1px solid var(--form-input-border-color);
}

.filepond--drop-label {
  color: var(--color-text-light);
  font-size: inherit;
}

svg {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  overflow: visible;
}

.svg-icon {
  cursor: pointer;
}
.svg-icon path {
  stroke: rgba(255, 255, 255, 0.9);
  fill: none;
  stroke-width: 1;
}

input,
button {
  outline: none;
  border: none;
}

#linkButton {
  text-decoration: none;
  float: center;
  text-align: center;
}
#linkButton2 {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 900;
}
.example_b {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ff3366;
  padding: 2rem;
  border-radius: 3rem;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  margin-top: 2rem;
  width: 20rem;
  font-size: 1.1rem;
  font-weight: 600;
}
#registerNow {
  position: absolute;
  top: 50%;
  left: 17%;
  display: flex;
  flex-direction: column;
  z-index: 3000;
}
#helpLbl {
  font-size: 1rem;
}
#nationalityLbl {
  font-size: 1.25rem;
  margin-left: 1.25rem;
}

.cont {
  position: relative;
  height: 100%;
  background-color: #f3d1d1;
  background-image: linear-gradient(315deg, #f3d1d1 0%, #ffffff 74%);
  overflow: auto;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.demo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15rem;
  margin-top: -30.5rem;
  width: 30rem;
  height: 60rem;
  overflow: hidden;
  box-shadow: 8px 8px 7px rgba(90, 85, 85, 0.4);
}
#error {
  left: 50%;
  border: 1px solid;
  margin: 10px 0px;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  color: #9f6000;
  background-color: #feefb3;
  background-image: url("https://i.imgur.com/Z8q7ww7.png");
}

.login {
  position: relative;
  height: 100%;
  background: -webkit-linear-gradient(
    top,
    rgba(146, 135, 187, 0.8) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(146, 135, 187, 0.8) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  -webkit-transition: opacity 0.1s,
    -webkit-transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
  transition: opacity 0.1s,
    transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.login.inactive {
  opacity: 0;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.login__logo {
  position: absolute;
  top: 3rem;
  left: 3rem;
  width: 25rem;
  height: 25rem;
  background-image: url("../images/logo4.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.login__header {
  position: absolute;
  width: 30rem;
  height: 30rem;
  background-image: url("../images/2.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;

  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
#header2 {
  background-image: url("../images/1.jpeg");
}
.login__form {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  padding: 1.5rem 2.5rem;
  text-align: center;
}
.register__form {
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  padding: 1.5rem 2.5rem;
}
.login__row {
  height: 5rem;
  padding-top: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.register__row {
  height: 4rem;
  padding-top: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.register__row2 {
  display: flex;
  height: 10rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 0.7rem;
}
.register__row3 {
  height: 7rem;
  padding-top: 0.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

.register__row4 {
  height: 8rem;
  padding-top: 0.2rem;
}
.login__icon {
  margin-bottom: -0.4rem;
  margin-right: 0.5rem;
}
.login__icon.name path {
  stroke-dasharray: 73.50196075439453;
  stroke-dashoffset: 73.50196075439453;
  -webkit-animation: animatePath 2s 0.5s forwards;
  animation: animatePath 2s 0.5s forwards;
}
.login__icon.pass path {
  stroke-dasharray: 92.10662841796875;
  stroke-dashoffset: 92.10662841796875;
  -webkit-animation: animatePath 2s 0.5s forwards;
  animation: animatePath 2s 0.5s forwards;
}
label {
  color: white;
  opacity: 0.6;
  font-size: 1.35rem;
  margin-bottom: 20px;
  margin-top: 5px;
}
#labelPic {
  margin-top: 5%;
  margin-left: 5%;
  font-size: 1.2rem;
}
.login__input {
  display: inline-block;
  width: 22rem;
  height: 100%;
  padding-left: 1.5rem;
  font-size: 1.5rem;
  background: transparent;
  color: #fdfcfd;
}
.register__input {
  display: inline-block;
  width: 22rem;
  height: 100%;
  padding-left: 1.15rem;
  font-size: 1.15rem;
  background: transparent;
  color: #fdfcfd;
}
.login__submit {
  position: relative;
  width: 100%;
  height: 4rem;
  margin: 5rem 0 2.2rem;
  color: rgba(255, 255, 255, 0.8);
  background: #ff3366;
  font-size: 1.5rem;
  border-radius: 3rem;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
  transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
}
#registerBox {
  display: flex;
  justify-content: space-between;
}
.register__submit {
  width: 11rem;
  height: 2.5rem;
  margin: 3rem 0 2.2rem;
  color: rgba(255, 255, 255, 0.8);
  background: #ff3366;
  font-size: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
  transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
}
#registerHeader {
  border: none;
  padding: 1rem;
  overflow: hidden;
  color: white;
  outline: none;
  background: -webkit-linear-gradient(
    top,
    rgba(146, 135, 187, 0.8) 100%,
    rgba(0, 0, 0, 0.6) 0%
  );
  background: linear-gradient(
    to bottom,
    rgba(146, 135, 187, 0.8) 100%,
    rgba(0, 0, 0, 0.6) 0%
  );
  -webkit-transition: opacity 0.1s,
    -webkit-transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
  transition: opacity 0.1s,
    transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  margin-bottom: 0.7rem;
  text-align: center;
  font-size: 1rem;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
#nationality {
  width: 80%;
  background: transparent;
  border: rgba(0, 0, 0, 0.2) solid 2px;
  margin-top: 7px;
  margin-left: 1.25rem;
  color: rgba(0, 0, 0, 0.7);
}
::placeholder {
  color: white;
  opacity: 0.6;
}
.login__submit:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -1.5rem;
  margin-top: -1.5rem;
  width: 3rem;
  height: 3rem;
  border: 2px dotted #fff;
  border-radius: 50%;
  border-left: none;
  border-bottom: none;
  -webkit-animation: rotate 0.5s infinite linear;
  animation: rotate 0.5s infinite linear;
  -webkit-transition: opacity 0.1s 0.4s;
  transition: opacity 0.1s 0.4s;
  opacity: 0;
  text-emphasis: none;
}
.login__submit.processing {
  width: 4rem;
  font-size: 0;
}
.login__submit.processing:after {
  opacity: 1;
}
.login__submit.success {
  -webkit-transition: -webkit-transform 0.3s 0.1s ease-out, opacity 0.1s 0.3s,
    background-color 0.1s 0.3s;
  transition: transform 0.3s 0.1s ease-out, opacity 0.1s 0.3s,
    background-color 0.1s 0.3s;
  -webkit-transform: scale(30);
  -ms-transform: scale(30);
  transform: scale(30);
  opacity: 0.9;
}
.login__submit.success:after {
  -webkit-transition: opacity 0.1s 0s;
  transition: opacity 0.1s 0s;
  opacity: 0;
}
.login__signup {
  font-size: 1.2rem;
  color: #aba8ae;
}
.login__signup a {
  color: #fff;
  cursor: pointer;
}
#txtArea {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.35);
}
#noRecords {
  color: white;
  padding: 1.5rem;
  margin-top: 50%;
  font-size: 1.5rem;
  text-align: center;
}
@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes animatePath {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes animatePath {
  to {
    stroke-dashoffset: 0;
  }
}
