<div class="login__header" id="header2"></div>

<div id="registerNow">
  <div class="button_cont" align="center">
    <a class="example_b" href="/volunteer/new">register as a volunteer</a>
  </div>
  <div class="button_cont" align="center">
    <a class="example_b" href="/helpSeeker/new">register as a HelpSeeker</a>
  </div>
</div>
